.background_gradient {    
  background: linear-gradient(
    rgba(188, 220, 255, 1),
    rgba(233, 244, 255, 1),
    rgba(248, 251, 255, 1),
    rgba(255, 255, 255, 1));    
  height: 1080px;
  width: 1920px;
}
