.email-input {
  width: 100%;
  height: 53px;
  border: 1px solid rgba(137, 132, 132, 0.4);
  border-radius: 16px;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.line-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-img {
  width: 24px;
  height: 24px;
  opacity: 1;
  top: 15px;
  left: 374px;
  margin-top: 14px;
  margin-right: 15px;
}

.find-password-link-text {
  font-family: Pretendard Variable;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.04em;
  text-align: right;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
  color: rgba(136, 136, 136, 1);
}

.quest-no-account {
  font-family: Pretendard Variable;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.04em;
  text-align: center;
  color: rgba(119, 119, 119, 1);
}

.row-align {
  display: flex;
  flex-direction: row;
}

.column-align {
  display: flex;
  flex-direction: column;
}

.safe-id-text {
  font-family: Pretendard Variable;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.04em;
  color: rgba(34, 34, 34, 1);
}

.signup-link-text {
  font-family: Pretendard Variable;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.04em;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
  color: rgba(119, 119, 119, 1);
}